<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-bill-heading" data-cy="BillCreateUpdateHeading" jhiTranslate="inventorySystemApp.bill.home.createOrEditLabel">
        إنشاء أو تعديل Bill
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="inventorySystemApp.bill.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let billNumberRef = editForm.get('billNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_billNumber" jhiTranslate="inventorySystemApp.bill.billNumber">Bill Number</label>
          <input
            type="text"
            class="form-control"
            name="billNumber"
            id="field_billNumber"
            data-cy="billNumber"
            formControlName="billNumber"
          />
          @if (billNumberRef.invalid && (billNumberRef.dirty || billNumberRef.touched)) {
            <div>
              @if (editForm.get('billNumber')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">هذا الحقل مطلوب.</small>
              }
            </div>
          }
        </div>

        @let dateRef = editForm.get('date')!;
        <div class="mb-3">
          <label class="form-label" for="field_date" jhiTranslate="inventorySystemApp.bill.date">Date</label>
          <div class="d-flex">
            <input
              id="field_date"
              data-cy="date"
              type="datetime-local"
              class="form-control"
              name="date"
              formControlName="date"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dateRef.invalid && (dateRef.dirty || dateRef.touched)) {
            <div>
              @if (editForm.get('date')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">هذا الحقل مطلوب.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('date')?.errors?.datetimelocal"
                jhiTranslate="entity.validation.datetimelocal"
                >هذا الحقل يجب أن يكون تاريخ ووقت.</small
              >
            </div>
          }
        </div>

        @let totalAmountRef = editForm.get('totalAmount')!;
        <div class="mb-3">
          <label class="form-label" for="field_totalAmount" jhiTranslate="inventorySystemApp.bill.totalAmount">Total Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
          @if (totalAmountRef.invalid && (totalAmountRef.dirty || totalAmountRef.touched)) {
            <div>
              @if (editForm.get('totalAmount')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">هذا الحقل مطلوب.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('totalAmount')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >هذا الحقل يجب أن يكون رقم.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_taxAmount" jhiTranslate="inventorySystemApp.bill.taxAmount">Tax Amount</label>
          <input type="number" class="form-control" name="taxAmount" id="field_taxAmount" data-cy="taxAmount" formControlName="taxAmount" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_discountAmount" jhiTranslate="inventorySystemApp.bill.discountAmount">Discount Amount</label>
          <input
            type="number"
            class="form-control"
            name="discountAmount"
            id="field_discountAmount"
            data-cy="discountAmount"
            formControlName="discountAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paidAmount" jhiTranslate="inventorySystemApp.bill.paidAmount">Paid Amount</label>
          <input
            type="number"
            class="form-control"
            name="paidAmount"
            id="field_paidAmount"
            data-cy="paidAmount"
            formControlName="paidAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dueAmount" jhiTranslate="inventorySystemApp.bill.dueAmount">Due Amount</label>
          <input type="number" class="form-control" name="dueAmount" id="field_dueAmount" data-cy="dueAmount" formControlName="dueAmount" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="inventorySystemApp.bill.notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_active" jhiTranslate="inventorySystemApp.bill.active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
        </div>

        @if (editForm.controls.createdBy.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_createdBy" jhiTranslate="inventorySystemApp.bill.createdBy">Created By</label>
            <input
              type="text"
              class="form-control"
              name="createdBy"
              id="field_createdBy"
              data-cy="createdBy"
              formControlName="createdBy"
              [readonly]="true"
            />
          </div>
        }

        @if (editForm.controls.createdDate.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_createdDate" jhiTranslate="inventorySystemApp.bill.createdDate">Created Date</label>
            <div class="d-flex">
              <input
                id="field_createdDate"
                data-cy="createdDate"
                type="datetime-local"
                class="form-control"
                name="createdDate"
                formControlName="createdDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        }

        @if (editForm.controls.lastModifiedBy.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_lastModifiedBy" jhiTranslate="inventorySystemApp.bill.lastModifiedBy"
              >Last Modified By</label
            >
            <input
              type="text"
              class="form-control"
              name="lastModifiedBy"
              id="field_lastModifiedBy"
              data-cy="lastModifiedBy"
              formControlName="lastModifiedBy"
              [readonly]="true"
            />
          </div>
        }

        @if (editForm.controls.lastModifiedDate.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_lastModifiedDate" jhiTranslate="inventorySystemApp.bill.lastModifiedDate"
              >Last Modified Date</label
            >
            <div class="d-flex">
              <input
                id="field_lastModifiedDate"
                data-cy="lastModifiedDate"
                type="datetime-local"
                class="form-control"
                name="lastModifiedDate"
                formControlName="lastModifiedDate"
                placeholder="YYYY-MM-DD HH:mm"
                [readonly]="true"
              />
            </div>
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">الغاء</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">حفظ</span>
        </button>
      </div>
    </form>
  </div>
</div>
