@if (salePayment) {
  <form name="deleteForm" (ngSubmit)="confirmDelete(salePayment.id!)">
    <div class="modal-header">
      <h4 class="modal-title" data-cy="salePaymentDeleteDialogHeading" jhiTranslate="entity.delete.title">تأكيد عملية الحذف</h4>
    </div>

    <div class="modal-body">
      <jhi-alert-error />
      <p
        id="jhi-delete-salePayment-heading"
        jhiTranslate="inventorySystemApp.salePayment.delete.question"
        [translateValues]="{ id: salePayment.id }"
      >
        هل أنت متأكد أنك تريد حذف Sale Payment {{ salePayment.id }}؟
      </p>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
        <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">الغاء</span>
      </button>

      <button id="jhi-confirm-delete-salePayment" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
        <fa-icon icon="times"></fa-icon>&nbsp;<span jhiTranslate="entity.action.delete">حذف</span>
      </button>
    </div>
  </form>
}
