<div>
  <h2 id="page-heading" data-cy="PurchaseHeading">
    <span jhiTranslate="inventorySystemApp.purchase.home.title">Purchases</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="inventorySystemApp.purchase.home.refreshListLabel">تحديث القائمة</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-purchase"
        [routerLink]="['/purchase/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inventorySystemApp.purchase.home.createLabel">إنشاء Purchase جديد</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (purchases().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="inventorySystemApp.purchase.home.notFound">لم يتم العثور على Purchases</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="productName">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.productName">Product Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.unitPrice">Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lineTotal">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.lineTotal">Line Total</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="purchaseOperation.id">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.purchaseOperation">Purchase Operation</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="product.id">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.product">Product</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="supplier.id">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.purchase.supplier">Supplier</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (purchase of purchases(); track trackId(purchase)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/purchase', purchase.id, 'view']">{{ purchase.id }}</a>
              </td>
              <td>{{ purchase.productName }}</td>
              <td>{{ purchase.quantity }}</td>
              <td>{{ purchase.unitPrice }}</td>
              <td>{{ purchase.lineTotal }}</td>
              <td>{{ purchase.active }}</td>
              <td>{{ purchase.createdBy }}</td>
              <td>{{ purchase.createdDate | formatMediumDatetime }}</td>
              <td>{{ purchase.lastModifiedBy }}</td>
              <td>{{ purchase.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (purchase.purchaseOperation) {
                  <div>
                    <a [routerLink]="['/purchase-operation', purchase.purchaseOperation.id, 'view']">{{ purchase.purchaseOperation.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (purchase.product) {
                  <div>
                    <a [routerLink]="['/product', purchase.product.id, 'view']">{{ purchase.product.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (purchase.supplier) {
                  <div>
                    <a [routerLink]="['/supplier', purchase.supplier.id, 'view']">{{ purchase.supplier.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/purchase-payment']"
                    [queryParams]="{ 'filter[purchaseId.in]': purchase.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('inventorySystemApp.purchase.purchasePayment' | translate) }"
                      >Show Purchase Payment</span
                    >
                  </button>
                  <a [routerLink]="['/purchase', purchase.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">عرض</span>
                  </a>

                  <a [routerLink]="['/purchase', purchase.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">تعديل</span>
                  </a>

                  <button type="submit" (click)="delete(purchase)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">حذف</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (purchases().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
