<div>
  <h2 id="page-heading" data-cy="SaleHeading">
    <span jhiTranslate="inventorySystemApp.sale.home.title">Sales</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="inventorySystemApp.sale.home.refreshListLabel">تحديث القائمة</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sale"
        [routerLink]="['/sale/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inventorySystemApp.sale.home.createLabel">إنشاء Sale جديد</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (sales().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="inventorySystemApp.sale.home.notFound">لم يتم العثور على Sales</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="productName">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.productName">Product Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.unitPrice">Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="discount">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.discount">Discount</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lineTotal">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.lineTotal">Line Total</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="saleOperation.id">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.saleOperation">Sale Operation</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="product.id">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.sale.product">Product</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (sale of sales(); track trackId(sale)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/sale', sale.id, 'view']">{{ sale.id }}</a>
              </td>
              <td>{{ sale.productName }}</td>
              <td>{{ sale.quantity }}</td>
              <td>{{ sale.unitPrice }}</td>
              <td>{{ sale.discount }}</td>
              <td>{{ sale.lineTotal }}</td>
              <td>{{ sale.active }}</td>
              <td>{{ sale.createdBy }}</td>
              <td>{{ sale.createdDate | formatMediumDatetime }}</td>
              <td>{{ sale.lastModifiedBy }}</td>
              <td>{{ sale.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (sale.saleOperation) {
                  <div>
                    <a [routerLink]="['/sale-operation', sale.saleOperation.id, 'view']">{{ sale.saleOperation.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (sale.product) {
                  <div>
                    <a [routerLink]="['/product', sale.product.id, 'view']">{{ sale.product.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/sale-payment']"
                    [queryParams]="{ 'filter[saleId.in]': sale.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('inventorySystemApp.sale.salePayment' | translate) }"
                      >Show Sale Payment</span
                    >
                  </button>
                  <a [routerLink]="['/sale', sale.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">عرض</span>
                  </a>

                  <a [routerLink]="['/sale', sale.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">تعديل</span>
                  </a>

                  <button type="submit" (click)="delete(sale)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">حذف</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (sales().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
