<div>
  <h2 id="page-heading" data-cy="ProductHeading">
    <span jhiTranslate="inventorySystemApp.product.home.title">Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="inventorySystemApp.product.home.refreshListLabel">تحديث القائمة</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-product"
        [routerLink]="['/product/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inventorySystemApp.product.home.createLabel">إنشاء Product جديد</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (products().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="inventorySystemApp.product.home.notFound">لم يتم العثور على Products</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.name">Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.code">Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="quantity">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.quantity">Quantity</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="unitPrice">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.unitPrice">Unit Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="costPrice">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.costPrice">Cost Price</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="brand.id">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.brand">Brand</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="productCategory.id">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.product.productCategory">Product Category</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (product of products(); track trackId(product)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/product', product.id, 'view']">{{ product.id }}</a>
              </td>
              <td>{{ product.name }}</td>
              <td>{{ product.code }}</td>
              <td>{{ product.quantity }}</td>
              <td>{{ product.unitPrice }}</td>
              <td>{{ product.costPrice }}</td>
              <td>{{ product.active }}</td>
              <td>{{ product.createdBy }}</td>
              <td>{{ product.createdDate | formatMediumDatetime }}</td>
              <td>{{ product.lastModifiedBy }}</td>
              <td>{{ product.lastModifiedDate | formatMediumDatetime }}</td>
              <td>
                @if (product.brand) {
                  <div>
                    <a [routerLink]="['/brand', product.brand.id, 'view']">{{ product.brand.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (product.productCategory) {
                  <div>
                    <a [routerLink]="['/product-category', product.productCategory.id, 'view']">{{ product.productCategory.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <button
                    type="submit"
                    [routerLink]="['/inventory-transaction']"
                    [queryParams]="{ 'filter[productId.in]': product.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('inventorySystemApp.product.inventoryTransaction' | translate) }"
                      >Show Inventory Transaction</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/sale']"
                    [queryParams]="{ 'filter[productId.in]': product.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('inventorySystemApp.product.sale' | translate) }"
                      >Show Sale</span
                    >
                  </button>
                  <button
                    type="submit"
                    [routerLink]="['/purchase']"
                    [queryParams]="{ 'filter[productId.in]': product.id }"
                    class="btn btn-info btn-sm"
                    data-cy="filterOtherEntityButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span
                      class="d-none d-md-inline"
                      jhiTranslate="entity.action.show"
                      [translateValues]="{ otherEntity: ('inventorySystemApp.product.purchase' | translate) }"
                      >Show Purchase</span
                    >
                  </button>
                  <a [routerLink]="['/product', product.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">عرض</span>
                  </a>

                  <a [routerLink]="['/product', product.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">تعديل</span>
                  </a>

                  <button type="submit" (click)="delete(product)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">حذف</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (products().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
