<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (productCategory(); as productCategoryRef) {
      <div>
        <h2 data-cy="productCategoryDetailsHeading">
          <span jhiTranslate="inventorySystemApp.productCategory.detail.title">Product Category</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ productCategoryRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="inventorySystemApp.productCategory.name">Name</span></dt>
          <dd>
            <span>{{ productCategoryRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="inventorySystemApp.productCategory.active">Active</span></dt>
          <dd>
            <span>{{ productCategoryRef.active }}</span>
          </dd>
          <dt><span jhiTranslate="inventorySystemApp.productCategory.createdBy">Created By</span></dt>
          <dd>
            <span>{{ productCategoryRef.createdBy }}</span>
          </dd>
          <dt><span jhiTranslate="inventorySystemApp.productCategory.createdDate">Created Date</span></dt>
          <dd>
            <span>{{ productCategoryRef.createdDate | formatMediumDatetime }}</span>
          </dd>
          <dt><span jhiTranslate="inventorySystemApp.productCategory.lastModifiedBy">Last Modified By</span></dt>
          <dd>
            <span>{{ productCategoryRef.lastModifiedBy }}</span>
          </dd>
          <dt><span jhiTranslate="inventorySystemApp.productCategory.lastModifiedDate">Last Modified Date</span></dt>
          <dd>
            <span>{{ productCategoryRef.lastModifiedDate | formatMediumDatetime }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">رجوع</span>
        </button>

        <button type="button" [routerLink]="['/product-category', productCategoryRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">تعديل</span>
        </button>
      </div>
    }
  </div>
</div>
