<div>
  <h2 id="page-heading" data-cy="CashBalanceHeading">
    <span jhiTranslate="inventorySystemApp.cashBalance.home.title">Cash Balances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span jhiTranslate="inventorySystemApp.cashBalance.home.refreshListLabel">تحديث القائمة</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-cash-balance"
        [routerLink]="['/cash-balance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="inventorySystemApp.cashBalance.home.createLabel">إنشاء Cash Balance جديد</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (cashBalances().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="inventorySystemApp.cashBalance.home.notFound">لم يتم العثور على Cash Balances</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="available">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.cashBalance.available">Available</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastUpdated">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.cashBalance.lastUpdated">Last Updated</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="notes">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.cashBalance.notes">Notes</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.cashBalance.active">Active</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdBy">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.cashBalance.createdBy">Created By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="createdDate">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.cashBalance.createdDate">Created Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedBy">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.cashBalance.lastModifiedBy">Last Modified By</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="d-flex">
                <span jhiTranslate="inventorySystemApp.cashBalance.lastModifiedDate">Last Modified Date</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (cashBalance of cashBalances(); track trackId(cashBalance)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/cash-balance', cashBalance.id, 'view']">{{ cashBalance.id }}</a>
              </td>
              <td>{{ cashBalance.available }}</td>
              <td>{{ cashBalance.lastUpdated | formatMediumDatetime }}</td>
              <td>{{ cashBalance.notes }}</td>
              <td>{{ cashBalance.active }}</td>
              <td>{{ cashBalance.createdBy }}</td>
              <td>{{ cashBalance.createdDate | formatMediumDatetime }}</td>
              <td>{{ cashBalance.lastModifiedBy }}</td>
              <td>{{ cashBalance.lastModifiedDate | formatMediumDatetime }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/cash-balance', cashBalance.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">عرض</span>
                  </a>

                  <a [routerLink]="['/cash-balance', cashBalance.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">تعديل</span>
                  </a>

                  <button type="submit" (click)="delete(cashBalance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">حذف</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (cashBalances().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page, totalItems, itemsPerPage }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
